<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/news.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Volney Creek Arabians</title>
    <!-- InstanceEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="js/colorbox/colorbox.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/social.css" rel="stylesheet">
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>

<body>

    <div class="navbar navbar-static-top">
        <div class="container">
             <div class="navbar-inner">
                <ul class="nav" id="mobile_navi">
                    <li><a href="#" title="Show me menu">MENU <img src="img/s.gif" alt="V"></a></li>
                </ul>
                <ul class="nav clearfix" id="top_navi">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about-us.html">ABOUT US</a></li>
                    <li class="has_children">
                        <a href="volney-horses.html">VOLNEY HORSES</a>
                        <ul>
                            <li><a href="sale-horses.html">SALE HORSES</a></li>
                            <li><a href="broodmares.html">BROODMARES</a></li>
                            <li><a href="performance.html">PERFORMANCE</a></li>
                        </ul>
                    </li>
                    <li><a href="new-foals.html">NEW FOALS</a></li>
                    <li><a href="news.html">NEWS</a></li>
                    <li><a href="photo-gallery.html">PHOTO GALLERY</a></li>
                    <li class="last"><a href="contact-us.html">CONTACT US</a></li>
                </ul>
            </div>
            <div id="logo">
                <a href="/" title=""><img src="img/logo.png" alt="" /></a>
            </div>
        </div>
    </div>


    <div class="container">
        <div id="content">
            <div class="row-fluid">
                
                <h1><span>NEWS</span></h1>
                <!-- Facebook BEGIN -->
                <ul id="facebook">
                    <li class="loading"><img src="img/ajax-loader.gif" alt="Loading ..." width="24" height="24"><br>Loading…</li>
                </ul>
                <!-- Facebook END -->
            </div>
        </div> <!--// #content -->
    </div>

     <div id="under_content">
        <div class="container">
            <div class="text"><a href="volney-horses.html">View Our Arabians</a></div>
        </div>
    </div> <!--// #under_content -->

    <div id="above_footer">
        <div class="container">
            <div class="text">Byron and Debi Donics of Volney Creek Montana<br>
            520 Volney Creek Road<br>
            Red Lodge, Montana 59068</div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="author">Website designed by <a href="http://www.arabhorse.com" target="_blank">arabhorse.com</a> 2014</div>
        </div>
    </div>

    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/colorbox/jquery.colorbox-min.js"></script>
    <script src="js/hju.js"></script>

    <script src="js/jquery.autolink.js"></script>
    <script src="js/jquery.timeago.js"></script>
    <script src="js/jquery.tmpl.js"></script>
    <script src="js/twitter-text.js"></script>
    <script src="js/social.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.imagesloaded.min.js"></script>

    <script id="facebook_template" type="text/x-jquery-tmpl">
      {{if type != "status" || typeof message != "undefined" || typeof caption != "undefined" }}
      <li>
        <div class="content">
            {{if picture}}
              <a class="image" href="${link}" target="_blank"><img alt="picture" src="${Social.facebookPictureURL(picture)}"></a>
            {{/if}}
            {{if message}}
            <p class="html_message">{{html message}}</p>
            {{/if}}
            {{if caption}}
            <p class="html_caption">{{html caption}}</p>
            {{/if}}
            {{if type == "link"}}
            <div class="link">
              <a href="${link}" target="_blank"><strong>${name}</strong></a> <i>${caption}</i>
              {{if description}}
                <p>${description}</p>
              {{/if}}
            </div> <!--// .link -->
            {{/if}}
        </div> <!--// .content -->
        <div class="footer">
          Posted <span class="fb_date" title="${created_time}">${created_time}</span> on <a class="author" href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">Facebook</a> 
        </div> <!--// .footer -->
      </li>
      {{/if}}
    </script>
    <script>
        // "103882419703669" is Facebook page ID
        // "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck" is Facebook authentication token
        Social.facebook("176971642349584", "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck");
    </script>
    
  </body>
<!-- InstanceEnd --></html>
